__pycache__/
*_config*.json
tigergraph-ml-*.json
wandb/
report_url.txt
volumes/*
configs/SERVICE_ACCOUNT_CREDS.json
npm-debug.log
.vscode/*
udfs/milvus/venv/*
pyrightconfig.json
.DS_Store
tests/.DS_Store
log.INFO
log.ERROR
log.AUDIT-COPILOT
log.WARNING
logs/*
tmp
.idea
eventual-consistency-service/app/logs/*
eventual-consistency-service/logs/*
eventual-consistency-service/tests/logs/*
copilot/app/logs/*
copilot/logs/*
copilot/tests/logs/*
