
services:
  copilot:
    image: copilot
    container_name: copilot
    ports:
      - 8000:8000
    depends_on:
      - eventual-consistency-service
    environment:
      LLM_CONFIG: "/code/configs/llm_config.json"
      DB_CONFIG: "/code/configs/db_config.json"
      MILVUS_CONFIG: "/code/configs/milvus_config.json"
      LOGLEVEL: "INFO"
      USE_CYPHER: "false"
    volumes:
      - ./configs/:/code/configs
      - ./common:/code/common

  eventual-consistency-service:
    image: ecc
    container_name: eventual-consistency-service
    ports:
      - 8001:8001
    environment:
      LLM_CONFIG: "/code/configs/llm_config.json"
      DB_CONFIG: "/code/configs/db_config.json"
      MILVUS_CONFIG: "/code/configs/milvus_config.json"
      LOGLEVEL: "INFO"
    volumes:
      - ./configs/:/code/configs
      - ./common:/code/common

networks:
  default:
    name: milvus
volumes:
  tg-data: {}
