name: CoPilot Build and Deploy

on:
  push:
    branches: [ "main", "TCE-3753" ]
  workflow_dispatch:

env:
  SHA: ${{ github.sha }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    outputs:
      image: ${{steps.get-image.outputs.IMAGE}}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Get Image tag
      id: get-image
      run: |
        IMAGE=tginternal/copilot:${SHA::6}
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV
        echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT${{ needs.setup.outputs.image }} 
 
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ï½œ
           ${{ env.IMAGE }}
           tginternal/copilot:latest

  deploy:
    needs: [build-image]
    runs-on: ubuntu-latest
    steps:
      - name: Login to k8s
        uses: tale/kubectl-action@v1
        with:
          base64-kube-config: ${{ secrets.KUBE_CONFIG }}

      - name: Deploy in k8s
        run: |
          kubectl patch tigergraph/tg-47f94070-fa64-4191-b952-983dafabd8fb -n 22a77be0-fb48-479d-b517-b6868326edd6 --type=json -p='[{"op":"replace","path":"/spec/sidecarContainers/1/image","value":"${{ needs.build-image.outputs.image }}"}]'