name: CoPilot Build Nightly

on:
  pull_request:
    branches:
      - dev

env:
  SHA: ${{ github.sha }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    outputs:
      image: ${{steps.get-image.outputs.IMAGE}}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.PUBLIC_DOCKERHUB_USERNAME }}
        password: ${{ secrets.PUBLIC_DOCKERHUB_TOKEN }}
    
    - name: Get Image tag
      id: get-image
      run: |
        IMAGE=tigergraphml/copilot:${SHA::6}
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV
        echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT${{ needs.setup.outputs.image }} 
 
    - name: Build and push Docker image CoPilot
      uses: docker/build-push-action@v5
      with:
        context: ./copilot
        file: ./copilot/Dockerfile
        push: true
        tags: |
           ${{ env.IMAGE }}
           tigergraphml/copilot:dev
 
    - name: Build and push Docker image ECC
      uses: docker/build-push-action@v5
      with:
        context: ./eventual-consistency-service
        file: ./eventual-consistency-service/Dockerfile
        push: true
        tags: |
           ${{ env.IMAGE }}
           tigergraphml/ecc:dev
